[submodule "glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "sdl-shadercross"]
	path = external/sdl-shadercross
	url = git@github.com:libsdl-org/SDL_shadercross.git
	branch = main
[submodule "sdl-ttf"]
	path = external/sdl-ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
	branch = main
[submodule "ink-stroke-modeler"]
	path = external/ink-stroke-modeler
	url = git@github.com:google/ink-stroke-modeler.git
	branch = main
[submodule "pfr"]
	path = external/pfr
	url = https://github.com/boostorg/pfr.git
	branch = master